


<script>
    function setSelectedValue(selectId, value) {
        const selectElement = document.getElementById(selectId);
        if (selectElement) {
            // Loop through all options and set the matching one as selected
            Array.from(selectElement.options).forEach(option => {
                option.selected = option.value === value;
            });
        }
    }

    setSelectedValue("id_color_id", "{{ order_detail.color_id.id }}");
    setSelectedValue("id_leather_type", "{{ order_detail.leather_type.id }}");
    setSelectedValue("id_solo_type", "{{ order_detail.sole_type_id.id }}");
    setSelectedValue("id_lining_type_id", "{{ order_detail.lining_type_id.id }}");
    setSelectedValue("id_shoe_model_id", "{{ order_detail.model_id.id }}");
</script>

<script>
    let selectFields = ["id_color_id", "id_leather_type", "id_solo_type", "id_lining_type_id", "id_shoe_model_id"];
        selectFields.forEach(id => {
            const select = document.getElementById(id);
            if (select) {
                // Set the selected value
                const value = select.value;
                select.style.backgroundColor = "#e9ecef";  // Change background to indicate it's disabledz
                select.style.pointerEvents = "none";  // Disable interaction with the select box

                // Loop through options to ensure the correct one is selected
                Array.from(select.options).forEach(option => {
                    if (option.value === value) {
                        option.selected = true
                    }
                });
            }
        });
</script>