{% extends "base.html" %}

{% block content %}
<div class="container">

  <div class="card p-3 my-3">
    <h1 class="text-center mb-4">{{FILTER}}</h1>

    <!-- Filtering Form -->
    <form id="filterForm" class="mb-4" method="get">
        <div class="row g-3">

            <!-- Staff ID -->
            <div class="col-md-3">
                <label for="staff_id" class="form-label">{{STAFF}}</label>
                <select id="staff_id" name="staff_id" class="form-control">
                    <option value="">{{CHOOSE}}</option>
                    {% for staff in staff_list %}
                        <option 
                            value="{{ staff.id }}" 
                            {% if staff_id == staff.id %}selected{% endif %}
                            >
                            {{ staff }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Shoe Model -->
            <div class="col-md-3">
                <label for="shoe_model_id" class="form-label">{{MODEL}}</label>
                <select id="shoe_model_id" name="shoe_model_id" class="form-control">
                    <option value="">{{CHOOSE}}</option>
                    {% for model in shoe_models %}
                        <option 
                            value="{{ model.id }}" 
                            {% if shoe_model_id == model.id %}selected{% endif %}
                        >
                            {{ model }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Color -->
            <div class="col-md-3">
                <label for="color_id" class="form-label">{{COLOR}}</label>
                <select id="color_id" name="color_id" class="form-control">
                    <option value="">{{CHOOSE}}</option>
                    {% for color in colors %}
                        <option 
                            value="{{ color.id }}" 
                            {% if color_id == color.id %}selected{% endif %}
                        >
                            {{ color }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Leather Type -->
            <div class="col-md-3">
                <label for="leather_type" class="form-label">{{LEATHER_TYPE}}</label>
                <select id="leather_type" name="leather_type" class="form-control">
                    <option value="">{{CHOOSE}}</option>
                    {% for leather in leather_types %}
                        <option 
                            value="{{ leather.id }}" 
                            {% if leather_type == leather.id %}selected{% endif %}
                        >
                            {{ leather }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Solo Type -->
            <div class="col-md-3">
                <label for="solo_type" class="form-label">{{SOLE_TYPE}}</label>
                <select id="solo_type" name="solo_type" class="form-control">
                    <option value="">{{CHOOSE}}</option>
                    {% for solo in sole_types %}
                        <option 
                            value="{{ solo.id }}" 
                            {% if solo_type == solo.id %}selected{% endif %}
                        >
                            {{ solo }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Status -->
            <div class="col-md-3">
                <label for="status" class="form-label">{{STATUS}}</label>
                <select id="status" name="status" class="form-control">
                    <option value="">{{CHOOSE}}</option>
                    {% for status_item in statuses %}
                        <option 
                            value="{{ status_item.id }}" 
                            {% if status == status_item.id %}selected{% endif %}
                        >
                            {{ status_item }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <!-- Order -->
            <div class="col-md-3">
                <label for="order" class="form-label">{{ORDER}}</label>
                <select id="order" name="order" class="form-control">
                    <option value="">{{CHOOSE}}</option>
                    {% for order in order_list %}
                        <option 
                            value="{{ order.id }}" 
                            {% if order_id == order.id %}selected{% endif %}
                        >
                            {{ order }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Buttons -->
        <div class="mt-3 text-end">
            <button type="submit" class="btn btn-primary">{{FILTER}}</button>
            <a href="{% url 'staff_view' %}" class="btn btn-secondary">{{CLEAN}}</a>
        </div>
    </form>
</div>
    <div class="card mt-3">
        <div class="d-flex justify-content-between align-items-center p-3">
            <h5 class="card-header p-0 bg-white border-0">{{PRODUCEMENT}}</h5>
            <a class="btn btn-primary" href="{% url "producement_create" %}">{{NEW}} {{PRODUCEMENT|lower}}</a>
        </div>

            <!-- Tabs navigation -->
            <ul class="nav nav-tabs p-3" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">
                        {{ORDER}} {{WORKS}}
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">
                        {{WAREHOUSE}}
                    </button>
                </li>
            </ul>
            <div class="tab-content p-1" id="myTabContent">
                <!-- Tab 1 content -->
                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                    <div class="table-responsive text-nowrap mt-0">

                        
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>{{ID}}</th>
                                    <th>{{STAFF}}</th>
                                    <th>{{MODEL}}</th>
                                    <th>{{ORDER}}</th>
                                    <th>{{QUANTITY}}</th>
                                    <th>{{PRICE}}</th>
                                    <th>{{STATUS}}</th>
                                    <th>{{ACTIONS}}</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                                {% for producement in producement_list %}
                                <tr>
                                    <td><strong>{{ forloop.counter}}</strong></td>
                                    <td>{{ producement.staff_id }}</td>
                                    <td>
                                        <strong>Nomi:</strong> {{ producement.shoe_model_id }} <br> 
                                        <strong>Rangi: </strong> {{ producement.color_id }} <br>
                                        <strong>Tagliki: </strong> {{ producement.solo_type }} <br>
                                        <strong>Astari: </strong> {{ producement.lining_type_id }} 
                                    </td>
                                    <td>
                                        <strong>Xaridor:</strong> {{ producement.order_id.client_id }}<br>
                                        <strong>Yakunlanish sana:</strong> {{ producement.order_id.complete_date|date:"d.m.Y" }}<br>
                                        <strong>Sana:</strong> {{ producement.order_id.date|date:"Y.m.d" }}
                                    </td>
                                    <td>{{ producement.quantity }}</td>
                                    <td>{{ producement.price }}</td>
                                    <td>
                                        <span class="badge text-secondary">
                                            {{ producement.status }}
                                        </span>
                                    </td>
                                    <td class="d-flex flex-column gap-1 align-items-center">
                                        <a class="btn btn-sm btn-info" href="{% url 'producement_read' producement.id %}">
                                            <i class="bx bx-show "></i>
                                        </a>
                                        <a class="btn btn-sm btn-warning text-white" href="{% url 'producement_update' producement.id %}">
                                            <i class="bx bx-edit-alt "></i>
                                        </a>
                                        <a class="btn btn-sm btn-danger" href="#"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            data-delete-url="{% url 'producement_delete' producement.id %}">
                                            <i class="bx bx-trash "></i>
                                        </a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="8" class="text-center">{{PRODUCEMENT}} {{NO_DATA}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <nav aria-label="Sahifa navigatsiyasi" class="my-4">
                            <ul class="pagination justify-content-center">
                              <!-- Oldingi tugmalar -->
                              {% if producement_list.has_previous %}
                                <li class="page-item">
                                  <a class="page-link" href="?page=1" aria-label="Birinchi">
                                    <i class="bx bx-chevrons-left"></i> 
                                  </a>
                                </li>
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ producement_list.previous_page_number }}" aria-label="Oldingi">
                                    <i class="bx bx-chevron-left"></i> 
                                  </a>
                                </li>
                              {% else %}
                                <li class="page-item disabled">
                                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                    <i class="bx bx-chevrons-left"></i> 
                                  </a>
                                </li>
                                <li class="page-item disabled">
                                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                    <i class="bx bx-chevron-left"></i> 
                                  </a>
                                </li>
                              {% endif %}
                          
                              <!-- Joriy sahifa ma'lumoti -->
                              <li class="page-item disabled">
                                <a class="page-link">
                                  {{PAGE}} {{ producement_list.number }} / {{ producement_list.paginator.num_pages }}
                                </a>
                              </li>
                          
                              <!-- Keyingi tugmalar -->
                              {% if producement_list.has_next %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ producement_list.next_page_number }}" aria-label="Keyingi">
                                     <i class="bx bx-chevron-right"></i>
                                  </a>
                                </li>
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ producement_list.paginator.num_pages }}" aria-label="Oxirgi">
                                     <i class="bx bx-chevrons-right"></i>
                                  </a>
                                </li>
                              {% else %}
                                <li class="page-item disabled">
                                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                     <i class="bx bx-chevron-right"></i>
                                  </a>
                                </li>
                                <li class="page-item disabled">
                                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                     <i class="bx bx-chevrons-right"></i>
                                  </a>
                                </li>
                              {% endif %}
                            </ul>
                          </nav>
                    </div>
                </div>
                <!-- Tab 2 content -->
                <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                    <div class="table-responsive text-nowrap mt-3">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>{{STAFF}}</th>
                                    <th>{{MODEL}}</th>
                                    <th>{{ORDER}}</th>
                                    <th>{{QUANTITY}}</th>
                                    <th>{{PRICE}}</th>
                                    <th>{{STATUS}}</th>
                                    <th>{{ACTIONS}}</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                                {% for producement in producement_sklat_list %}
                                <tr>
                                    <td><strong>{{ forloop.counter }}</strong></td>
                                    <td>{{ producement.staff_id }}</td>
                                    <td>
                                        <strong>Nomi:</strong> {{ producement.shoe_model_id }} <br> 
                                        <strong>Rangi: </strong> {{ producement.color_id }} <br>
                                        <strong>Tagliki: </strong> {{ producement.solo_type }} <br>
                                        <strong>Astari: </strong> {{ producement.lining_type_id }} 
                                    </td>
                                    <td>
                                        <strong>Xaridor:</strong> {{ producement.order_id.client_id }}<br>
                                        <strong>Yakunlanish sana:</strong> {{ producement.order_id.complete_date|date:"d.m.Y" }}<br>
                                        <strong>Sana:</strong> {{ producement.order_id.date|date:"Y.m.d" }}
                                    </td>
                                    <td>{{ producement.quantity }}</td>
                                    <td>{{ producement.price }}</td>
                                    <td>
                                        <span class="badge text-secondary">
                                            {{ producement.status }}
                                        </span>
                                    </td>
                                    <td class="d-flex flex-column gap-1 align-items-center">
                                        <a class="btn btn-sm btn-info" href="{% url 'producement_read' producement.id %}">
                                            <i class="bx bx-show "></i>
                                        </a>
                                        <a class="btn btn-sm btn-warning text-white" href="{% url 'producement_update' producement.id %}">
                                            <i class="bx bx-edit-alt "></i>
                                        </a>
                                        <a class="btn btn-sm btn-danger" href="#"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            data-delete-url="{% url 'producement_delete' producement.id %}">
                                            <i class="bx bx-trash "></i>
                                        </a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="8" class="text-center">{{PRODUCEMENT}} {{NO_DATA}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Sahifa navigatsiyasi" class="my-4">
                            <ul class="pagination justify-content-center">
                              <!-- Oldingi tugmalar -->
                              {% if producement_sklat_list.has_previous %}
                                <li class="page-item">
                                  <a class="page-link" href="?page_sklat=1" aria-label="Birinchi">
                                    <i class="bx bx-chevrons-left"></i> 
                                  </a>
                                </li>
                                <li class="page-item">
                                  <a class="page-link" href="?page_sklat={{ producement_sklat_list.previous_page_number }}" aria-label="Oldingi">
                                    <i class="bx bx-chevron-left"></i> 
                                  </a>
                                </li>
                              {% else %}
                                <li class="page-item disabled">
                                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                    <i class="bx bx-chevrons-left"></i> 
                                  </a>
                                </li>
                                <li class="page-item disabled">
                                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                    <i class="bx bx-chevron-left"></i> 
                                  </a>
                                </li>
                              {% endif %}
                          
                              <!-- Joriy sahifa ma'lumoti -->
                              <li class="page-item disabled">
                                <a class="page-link">
                                  {{PAGE}} {{ producement_sklat_list.number }} / {{ producement_sklat_list.paginator.num_pages }}
                                </a>
                              </li>
                          
                              <!-- Keyingi tugmalar -->
                              {% if producement_sklat_list.has_next %}
                                <li class="page-item">
                                  <a class="page-link" href="?page_sklat={{ producement_sklat_list.next_page_number }}" aria-label="Keyingi">
                                     <i class="bx bx-chevron-right"></i>
                                  </a>
                                </li>
                                <li class="page-item">
                                  <a class="page-link" href="?page_sklat={{ producement_sklat_list.paginator.num_pages }}" aria-label="Oxirgi">
                                     <i class="bx bx-chevrons-right"></i>
                                  </a>
                                </li>
                              {% else %}
                                <li class="page-item disabled">
                                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                     <i class="bx bx-chevron-right"></i>
                                  </a>
                                </li>
                                <li class="page-item disabled">
                                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                     <i class="bx bx-chevrons-right"></i>
                                  </a>
                                </li>
                              {% endif %}
                            </ul>
                          </nav>
                    </div>
                    </div>
                </div>
        </div>        
    </div>
</div>



<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabKey = "activeTab";
    const activeTab = localStorage.getItem(tabKey);

    if (activeTab) {
      const tabElement = document.querySelector(`#${activeTab}-tab`);
      if (tabElement) {
        const tab = new bootstrap.Tab(tabElement);
        tab.show();
      }
    }

    const tabs = document.querySelectorAll('.nav-link[data-bs-toggle="tab"]');
    tabs.forEach((tab) => {
      tab.addEventListener("shown.bs.tab", function (event) {
        localStorage.setItem(tabKey, event.target.id.split('-')[0]);
      });
    });
  });
</script>





{% endblock content %}
