{% extends "base.html" %}

{% block content %}

<div class="container mt-3">
  <div class="card p-3 my-3">
    <h1 class="text-center mb-4">{{FILTER}}</h1>

    <!-- Filtering Form -->
    <form id="filterForm" class="mb-4" method="get">

        <div class="row g-3">

            <!-- Shoe Model -->
            <div class="col-md-3">
                <label for="shoe_model_id" class="form-label">{{MODEL}}</label>
                <select id="shoe_model_id" name="shoe_model_id" class="form-control">
                    <option value="">{{CHOOSE}}</option>
                    {% for model in shoe_models %}
                        <option 
                            value="{{ model.id }}" 
                            {% if shoe_model_id == model.id %}selected{% endif %}
                        >
                            {{ model }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Color -->
            <div class="col-md-3">
                <label for="color_id" class="form-label">{{COLOR}}</label>
                <select id="color_id" name="color_id" class="form-control">
                    <option value="">{{CHOOSE}}</option>
                    {% for color in colors %}
                        <option 
                            value="{{ color.id }}" 
                            {% if color_id == color.id %}selected{% endif %}
                        >
                            {{ color }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Leather Type -->
            <div class="col-md-3">
                <label for="leather_type" class="form-label">{{LEATHER_TYPE}}</label>
                <select id="leather_type" name="leather_type" class="form-control">
                    <option value="">{{CHOOSE}}</option>
                    {% for leather in leather_types %}
                        <option 
                            value="{{ leather.id }}" 
                            {% if leather_type == leather.id %}selected{% endif %}
                        >
                            {{ leather }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Solo Type -->
            <div class="col-md-3">
                <label for="solo_type" class="form-label">{{SOLE_TYPE}}</label>
                <select id="solo_type" name="solo_type" class="form-control">
                    <option value="">{{CHOOSE}}</option>
                    {% for solo in sole_types %}
                        <option 
                            value="{{ solo.id }}" 
                            {% if solo_type == solo.id %}selected{% endif %}
                        >
                            {{ solo }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Client -->
            <div class="col-md-3">
                <label for="client" class="form-label">{{CLIENT}}</label>
                <select id="client" name="client" class="form-control">
                    <option value="">{{CHOOSE}}</option>
                    {% for client in clients %}
                        <option 
                            value="{{ client.id }}" 
                            {% if client == client.id %}selected{% endif %}
                        >
                            {{ client }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Buttons -->
        <div class="mt-3 text-end">
            <button type="submit" class="btn btn-primary">{{FILTER}}</button>
            <a href="{% url 'sale' %}" class="btn btn-secondary">{{CLEAN}}</a>
        </div>
    </form>
</div>
    <div class="card">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center mt-3">
                
                <h3 class="card-title">{{SELL}}</h3>
                <div class="card-tools">
                    <a href="{% url 'sale_create' %}" class="btn btn-primary">{{NEW}} {{SELL}} {{CREATE_BUTTON}}</a>
                </div>
            </div>
        </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{ID}}</th>
                    <th>{{CLIENT}}</th>
                    <th>{{SHOE_MODEL}}</th>
                    <th>{{QUANTITY}}</th>
                    <th>{{PRICE}}</th>
                    <th>{{TOTAL}} {{PRICE}}</th>
                    <th>{{ACTIONS}}</th>
                </tr>
            </thead>
            <tbody>
                {% for sold_item in sold_items %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ sold_item.client}}</td>
                        <td>
                            <strong>{{NAME}}:</strong> {{ sold_item.warehouse.model_id }} <br>
                            <strong>{{COLOR}}:</strong> {{ sold_item.warehouse.color_id }} <br>
                            <strong>{{SOLE}}:</strong> {{ sold_item.warehouse.sole_type_id }} <br>
                            <strong>{{LINING}}:</strong> {{ sold_item.warehouse.lining_type_id }}
                        </td>
                        <td>{{ sold_item.quantity }}</td>
                        <td>{{ sold_item.price }}</td>
                        <td>{{ sold_item.total_price }}</td>
                        <td>
                            <a class="btn btn-sm btn-warning" href="{% url "sale_update" sold_item.id %}"><i class="bx bx-edit-alt text-white"></i></a>
                            <a class="btn btn-sm btn-danger" href="#"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteModal"
                            data-delete-url="{% url 'sale_delete' sold_item.id %}"> 

                            <i class="bx bx-trash "></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                <!-- Sale items will be dynamically inserted here -->
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock content %}