{% extends "base.html" %}

{% block content %}

<div class="container mt-3">

    <div class="card">
        <div class="d-flex justify-content-between align-items-center">
            
            <h3 class="card-title">{{SELL}}</h3>
            <div class="card-tools">
                <a href="{% url 'sale_create' %}" class="btn btn-primary">{{NEW}} {{SELL}} {{CREATE_BUTTON}}</a>
            </div>
        </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{ID}}</th>
                    <th>{{SHOE_MODEL}}</th>
                    <th>{{QUANTITY}}</th>
                    <th>{{PRICE}}</th>
                    <th>{{TOTAL}} {{PRICE}}</th>
                    <th>{{COLOR}}</th>
                    <th>{{LEATHER}}</th>
                    <th>{{SOLE}}</th>
                    <th>{{LINING}}</th>
                    <th>{{ACTIONS}}</th>
                </tr>
            </thead>
            <tbody>
                {% for sold_item in sold_items %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ sold_item.warehouse.model_id }}</td>
                        <td>{{ sold_item.quantity }}</td>
                        <td>{{ sold_item.price }}</td>
                        <td>{{ sold_item.total_price }}</td>
                        <td>{{ sold_item.warehouse.color_id }}</td>
                        <td>{{ sold_item.warehouse.leather_type }}</td>
                        <td>{{ sold_item.warehouse.sole_type_id }}</td>
                        <td>{{ sold_item.warehouse.lining_type_id }}</td>
                        <td>
                            <a class="btn btn-sm btn-warning" href="{% url "sale_update" sold_item.id %}"><i class="bx bx-edit-alt text-white"></i></a>
                            <a class="btn btn-sm btn-danger" href="#"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteModal"
                            data-delete-url="{% url 'sale_delete' sold_item.id %}"> 

                            <i class="bx bx-trash "></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                <!-- Sale items will be dynamically inserted here -->
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock content %}