{% extends "base.html" %} {% block content %}

<div
  class="modal fade"
  id="modalCenter"
  tabindex="-1"
  aria-hidden="true"
  role="dialog"
>
  <form method="POST">
    {% csrf_token %}
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">
            {{ NEW }} {{ REFERENCE }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">
              {{ REFERENCE }} {{ TYPE }}
            </label>

            <select name="type" class="form-select" required>
              <option value="" disabled selected>--------</option>

                    {% for rt in allowed_create_types %}
                      <option value="{{ rt.value }}">
                        {{ rt.label }}
                      </option>
                    {% endfor %}

            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">
              {{ REFERENCE }} {{ VALUE }}
            </label>
            <input
              type="text"
              class="form-control uppercase-input"
              name="value"
              required
            />
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-secondary"
            data-bs-dismiss="modal"
          >
            {{ CLOSE }}
          </button>
          <button type="submit" class="btn btn-primary">
            {{ SAVE }}
          </button>
        </div>

      </div>
    </div>
  </form>
</div>



<div class="card  pb-3 m-3 mx-4">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h2 class="">{{REFERENCE}}</h2>
    <button type="button" class="btn btn-primary" id="openModal">
      {{NEW}} {{REFERENCE}}
    </button>
  </div>
  <div class="col-md mb-4 mb-md-0 container-fluid">
{% for group in grouped_references %}
<div class="accordion mt-3">
  <div class="card accordion-item">

    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#accordion{{ group.type.value }}"
      >
        {{ group.label }}
      </button>
    </h2>

    <div id="accordion{{ group.type.value }}" class="accordion-collapse collapse">
      <div class="accordion-body">

        {% for item in group.items %}
        <div class="border-bottom py-2 d-flex justify-content-between">

          <span>{{ item.value }}</span>

          {% if not group.is_system %}
          <div>
            <button
                type="button"
                class="btn btn-warning btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#modalCenter"
                data-action="edit"
                data-value="{{ item.value }}"
                data-type="{{ item.type }}"
                data-id="{{ item.id }}"
                >
              <i class="bx bx-edit text-white"></i>
            </button>

                <a class="btn btn-sm btn-danger" href="#"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal"
                data-delete-url="{% url 'delete_reference' item.id %}"> 

                    <i class="bx bx-trash "></i>
                </a>
          </div>
          {% endif %}

        </div>
        {% endfor %}

      </div>
    </div>

  </div>
</div>
{% endfor %}




  </div>
</div>
</div>

<!-- <script>
  document.getElementById("openModal").addEventListener("click", function () {
    const modal = new bootstrap.Modal(document.getElementById("modalCenter"));
    modal.show();
    });
  </script> -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
      // Add click event to open the modal
      $("#openModal").click(function () {
        $("#modalCenter").modal("show"); // Use Bootstrap's modal method to show the modal
      });

      // Populate modal for edit functionality
      $('#modalCenter').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var action = button.data('action'); // Edit or Add action
        var value = button.data('value');
        var id = button.data('id'); // Get the ID from the button

        var modal = $(this);
        if (action === 'edit') {
          modal.find('.modal-title').text('Edit Ma\'lumotnoma');
          modal.find('input[name="value"]').val(value); // Set the value in the input

          modal.find('select[name="type"]')
       .prop('disabled', true)
       .parent().hide();
                 
          modal.find('form').attr('action', "{% url 'update_reference' 0 %}".replace('0', id)); // Set form action to the correct update URL with the ID
        } else {
          modal.find('.modal-title').text("{{NEW}} Ma'lumotnoma");
          modal.find('input[name="value"]').val('');
          modal.find('select[name="type"]').parent().show(); // Show the type field
          modal.find('select[name="type"]').val('--------');
          modal.find('form').attr('action', "{% url 'reference' %}"); // Reset the action for creating a new reference
        }
      });
    });


</script>


{% endblock content %}
