{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="card mt-3">
    <div class="d-flex justify-content-between align-items-center p-3">
      <h5 class="card-header p-0 bg-white border-0">{{ORDERS}}</h5>
      <a class="btn btn-primary" href="{% url "orders_create" %}">{{NEW}} {{ORDER}}</a>
    </div>
    <div class="table-responsive text-nowrap">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ID}}</th>
            <th>{{CLIENT}}</th>
            <th>{{TOTAL_PRICE}}</th>
            <th>{{DEADLINE}}</th>
            <th>{{STATUS}}</th>
            <th>{{ACTIONS}}</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {% for order in orders_list %}
          <tr>
            <td><strong>{{ forloop.counter }}</strong></td>
            <td>{{ order.client_id }}</td>
            <td>{{ order.total_amount }} {{order.client_id.currency}}</td>
            <td>{{ order.complete_date|date:"d.m.Y" }}</td>
            <td>{{ order.status }}</td>
            <td>
                <a class="btn btn-sm btn-info" href="{% url "order_read" order.id %}"> <i class="bx  bx-show "></i></a>
                <a class="btn btn-sm btn-warning" href="{% url "orders_update" order.id %}"> <i class="bx bx-edit-alt text-white"></i></a>
                <a class="btn btn-sm btn-danger"
                href="#"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal" 
                data-delete-url="{% url 'orders_delete' order.id %}"> 
                <i class="bx bx-trash"></i></a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="8" class="text-center">{{ORDERS}} {{NO_DATA}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <nav aria-label="Sahifa navigatsiyasi" class="my-4">
        <ul class="pagination justify-content-center">
          <!-- Oldingi tugmalar -->
          {% if orders_list.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page=1" aria-label="Birinchi">
                <i class="bx bx-chevrons-left"></i> 
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ orders_list.previous_page_number }}" aria-label="Oldingi">
                <i class="bx bx-chevron-left"></i> 
              </a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                <i class="bx bx-chevrons-left"></i> 
              </a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                <i class="bx bx-chevron-left"></i> 
              </a>
            </li>
          {% endif %}
      
          <!-- Joriy sahifa ma'lumoti -->
          <li class="page-item disabled">
            <a class="page-link">
              {{PAGE}} {{ orders_list.number }} / {{ orders_list.paginator.num_pages }}
            </a>
          </li>
      
          <!-- Keyingi tugmalar -->
          {% if orders_list.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ orders_list.next_page_number }}" aria-label="Keyingi">
                 <i class="bx bx-chevron-right"></i>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ orders_list.paginator.num_pages }}" aria-label="Oxirgi">
                 <i class="bx bx-chevrons-right"></i>
              </a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                 <i class="bx bx-chevron-right"></i>
              </a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                 <i class="bx bx-chevrons-right"></i>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
      
      
    </div>
  </div>
</div>
{% endblock content %}
