{% extends "base.html" %}
{% load humanize %}
{% load filter %}

{% block content %}
<div class="container">

  <div class="card p-3 mt-3">
    <h1 class="text-center mb-4">{{FILTER}}</h1>

        <!-- Filtering Form -->
        <form id="filterForm" class="mb-4" method="get">
            <div class="row g-3">
                <!-- Full Name -->
                <div class="col-md-3">
                    <label for="name" class="form-label">{{NAME}}</label>
                    <input 
                        type="text" 
                        name="full_name" 
                        id="name" 
                        class="form-control uppercase-input" 
                        placeholder="{{NAME}}" 
                        value="{{ request.GET.full_name }}"
                    >
                </div>
                <!-- Gender -->
                <div class="col-md-2">
                    <label for="currency" class="form-label">{{CURRENCY}}</label>
                    <select id="currency" class="form-select" name="currency">
                        <option value="">{{CHOOSE}}</option>
                        {% for currency in currencys %}
                            <option 
                                value="{{ currency.value }}" 
                                {% if request.GET.currency == currency.value %}selected{% endif %}
                            >
                                {{ currency.value }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Profession -->
                <div class="col-md-3">
                    <label for="address" class="form-label">{{LOCATION}}</label>
                    <input type="text" class="form-control uppercase-input" name="address" id="address" placeholder="{{LOCATION}}"
                      value="{{ request.GET.address }}">
                </div>
        
                <!-- Phone -->
                <div class="col-md-3">
                    <label for="phone" class="form-label">{{PHONE_NUMBER}}</label>
                    <input 
                        type="text" 
                        id="phone" 
                        name="phone" 
                        class="form-control" 
                        placeholder="{{PHONE_NUMBER}}" 
                        value="{{ request.GET.phone }}"
                    >
                </div>
            </div>
        
            <!-- Buttons -->
            <div class="mt-3 text-end">
                <button type="submit" class="btn btn-primary">{{FILTER}}</button>
                <a href="{% url 'clients_view' %}" class="btn btn-secondary">{{CLEAN}}</a>
            </div>
        </form>
        
  </div>

  {% comment %} table {% endcomment %}
<div class="card mt-3">
  <div class="d-flex justify-content-between align-items-center p-3">
    
    <h5 class="card-header p-0 bg-white border-0">{{CLIENT}}</h5>
    <a class="btn btn-primary" href="{% url "clients_create" %}">{{NEW}} {{CLIENT}}</a>

  </div>
    <div class="table-responsive text-nowrap">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{NAME}}</th>
            <th>{{PHONE_NUMBER}}</th>
            <th>{{LOCATION}}</th>
            <th>{{CURRENCY}}</th>
            <th>{{BALANCE}}</th>
            <th>{{ACTIONS}}</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          
          {% for client in clients_list %}
          <tr>
            <td> <strong>{{client.name}}</strong></td>
            <td>
              {{client.phone_number}}
            </td>
            <td>
                {{client.address}}
            </td>
            <td>
                {{client.currency}}
            </td>
                {% if client.balance >= 0 %}
                <td class="text-success">
                    {{client.balance|floatformat:2|intcomma}} {{client.currency}}
                </td>
                {% else %}
                <td class="text-danger">
                    {{client.balance|floatformat:2|intcomma}} {{client.currency}}
                </td>
            {% endif %}

            <td>
                {% if client.is_system == True %}
                {% else %}
                <a class="btn btn-sm btn-warning" href="{% url "clients_update" client.id %}"><i class="bx bx-edit-alt text-white"></i></a>
                <a
                class="btn btn-sm btn-danger"
                href="#"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal"
                data-delete-url="{% url 'clients_delete' client.id %}"
                >
                <i class="bx bx-trash"></i> 
            </a>
            {% endif %}
                
            </td>
          </tr>
          {% empty %}
          <tr>
              <td colspan="8" class="text-center">{{CLIENTS}} {{NO_DATA}}</td>
          </tr>
          {% endfor %}

        
        </tbody>
      </table>
    </div>
  </div>
</div>

{% comment %} payments {% endcomment %}
<div class="container mt-4">
  <!-- Card Wrapper -->
  <div class="card shadow-sm">
      <!-- Card Header with Balance -->
      <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0"></h5>
          <h5>{{BALANCE|title}}: 
            {% if balance >= 0 %}
            <span class="text-success">{{ balance|floatformat:2|intcomma }}</span>
            {% else %}
            <span class="text-danger">{{ balance|floatformat:2|intcomma }}</span>
            {% endif %}
        </h5>
      </div>

      <!-- Card Body with Tabs -->
      <div class="card-body">
          <!-- Tabs Navigation -->
          <ul class="nav nav-tabs" id="staffTabs" role="tablist">
              <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="payments-tab" data-bs-toggle="tab" data-bs-target="#payments" type="button" role="tab" aria-controls="payments" aria-selected="true">
                    {{PAYMENTS_LIST}}
                  </button>
              </li>
              <li class="nav-item" role="presentation">
                  <button class="nav-link" id="work-tab" data-bs-toggle="tab" data-bs-target="#work" type="button" role="tab" aria-controls="work" aria-selected="false">
                      {{ORDERS}}
                  </button> 
              </li>
          </ul>

          <!-- Tabs Content -->
          <div class="tab-content mt-3" id="staffTabsContent">
              <!-- Staff Payments Tab -->
              <div class="tab-pane fade show active" id="payments" role="tabpanel" aria-labelledby="payments-tab">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                      <h5>{{PAYMENTS_LIST}}</h5>
                      <!-- Add Payment Button -->
                      <a class="btn btn-primary" href="{% url 'client_payment_create'  %}">
                           {{PAY}}
                      </a>
                  </div>
                  <table class="table table-hover">
                      <thead class="table-light">
                          <tr>
                              <th>{{ID}}</th>
                              <th>{{CLIENT}}</th>
                              <th>{{SUM}}</th>
                              <th>{{DATE}}</th>
                              <th>{{ACTIONS}}</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for payment in payments %}
                          <tr>
                              <td>{{ payment.id }}</td>
                              <td>{{ payment.client_id }}</td>
                              <td>{{ payment.amount|floatformat:2|intcomma }}</td>
                              <td>{{ payment.date|date:"Y.m.d" }}</td>
                              <td>
                                  <a class="btn btn-sm btn-warning text-white" href="{% url "client_payment_update" payment.id %}">
                                    <i class="bx bx-edit-alt "></i>
                                </a>
                                  <a class="btn btn-sm btn-danger"  href="#"
                                  data-bs-toggle="modal"
                                  data-bs-target="#deleteModal"
                                  data-delete-url="{% url "client_payment_delete" payment.id %}"> 
                
                                      <i class="bx bx-trash "></i>
                                  </a>
                              </td>
                          </tr>
                          {% empty %}
                          <tr>
                              <td colspan="5" class="text-center">{{PAYMENTS}} {{NO_DATA}}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>

              <!-- Staff Work Tab -->
              <div class="tab-pane fade" id="work" role="tabpanel" aria-labelledby="work-tab">
                  <table class="table table-hover  ">
                      <thead class="table-light">
                          <tr>
                              <th>{{ID}}</th>
                              <th>{{CLIENT}}</th>
                              <th>{{MODEL}}</th>
                              <th>{{PRICE}}</th>
                              <th>{{QUANTITY}}</th>
                              <th>{{TOTAL}}</th>
                              <th>{{STATUS}}</th>
                              <th>{{ACTIONS}}</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for detail in details %}
                          <tr>
                              <td>{{ detail.id }}</td>
                              <td>{{ detail.order_id.client_id}}</td>
                              <td>{{ detail.model_id }}</td>
                              <td>{{ detail.price|floatformat:2|intcomma }}</td>
                              <td>{{ detail.quantity }}</td>
                              <td>
                                  <p>{{ detail.price|multiply:detail.quantity|floatformat:2|intcomma }}</p>

                              </td>
                              <td>
                                      {{ detail.order_id.status }}
                              </td>
                              <td>
                                 <a class="btn btn-sm btn-warning" href="">
                                     <i class="bx bx-edit-alt text-white"></i>
                                 </a>

                                  <a class="btn btn-sm btn-danger"  href="#"
                                  data-bs-toggle="modal"
                                  data-bs-target="#deleteModal"
                                  data-delete-url="">
                
                                      <i class="bx bx-trash "></i>
                                  </a>
                              </td>
                          </tr>
                          {% empty %}
                          <tr>
                              <td colspan="6" class="text-center">{{WORKS}} {{NO_DATA}}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}
